.user-sign__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  min-height: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  z-index: 10000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Пример тени */
}

@media (min-width: 1150px) {
  .user-sign__form {
    max-width: 420px;
    padding: 30px;
    min-height: 480px;
  }
}

.user-sign__top-logo {
  width: 220px;
  height: 48px;
}

@media (min-width: 1150px) {
  .user-sign__top-logo {
    max-width: 280px;
    height: 58px;
    object-fit: contain;
  }
}

.user-sign__middle-logo {
  width: 280px;
  height: 110px;
  object-fit: contain;
}

@media (min-width: 1150px) {
  .user-sign__middle-logo {
    max-width: 320px;
    height: 120px;
    object-fit: contain;
  }
}

.user-sign__form-block {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  width: 100%;
  max-width: 320px;
}

.user-sign__form-input {
  height: 40px;
  padding-left: 20px;
  cursor: pointer;
  width: 100%;
}

.user-sign__form-btn {
  height: 40px;
  background-color: #2657A1;
  color: white;
  border: 0;
  cursor: pointer;
}

.user-sign__form-btn:hover {
  opacity: 0.8;
}

.user-sign__form-btn-admin {
  height: 20px;
  background-color: transparent;
  color: gray;
  border: 0;
  cursor: pointer;
}