.home {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100vh;
  padding-left: 50px;
}

.home__main-bg {
  position: absolute;
  right: 0;
  object-fit: cover;
  height: 100vh;
  top: 0; /* Для выравнивания изображения по верхнему краю */
  max-width: 80%; /* Адаптивная ширина */
}
